@media screen and (max-width: 768px) {
  .nav-links {
    /* display: none; */
  }

  .logo {
    width: 150px;
  }

  .intro {
    margin: 0 5%;
    font-weight: normal;
    font-size: 18px;
  }

  .img-grid-container {
    margin: auto 5%;
  }

  .img-grid1 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 10px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .img-grid2 {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div4 {
    grid-area: 1 / 1 / 2 / 3;
  }
  .div5 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div6 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .social-media {
    gap: 30px;
    padding: 20px 0;
  }

  /* =============== Prices Page ================= */

  h1 {
    font-size: 50px;
    padding: 0 0 30px 0;
  }

  .price-list {
    margin: auto 5%;
  }

  .discounts {
    font-size: 18px;
  }

  /* =============== Product Page ================= */

  .olaplex-container {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .wella-container {
    flex-direction: column;
  }

  .olaplex-container, .wella-container {
    margin: 40px 5%;
    gap: 0;
  }

  .olaplex-container > img, .wella-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .olaplex-desc, .wella-desc {
    font-size: 18px;
  }

  /* =============== Contact Page ================= */

  .call-email {
    flex-direction: column;
    align-items: center;
  }
}